.cosmetics {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    background: linear-gradient(180deg, #1a1826, #000000);
}

.title {
    font-size: 2em;
    color: #f1f1f1;
}

.img {
    width: 298px;
    height: 193;
    padding-bottom: 80px;
}

@media(min-width: 800px) {
    .cosmetics p {
        font-size: 2.5em;
    }

    .img {
        width: 566px;
        height: 386px;
    }
}