.cosmetics {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    padding-bottom: 50px;
    background: linear-gradient(180deg, #1a1826, #000000);
}

.title {
    font-size: 2em;
    color: #f1f1f1;
}

.img {
    width: 400px;
    height: 400px;
}

.cosmetics p {
    color: #f1f1f1;
    font-size: 1.1em;
    text-align: left;
    padding: 20px;
}

@media(min-width: 1000px) {
    .img {
        width: 566px;
        height: 386px;
    }

    .cosmetics div {
        display: grid;
        padding: 50px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

}